<% provide(:title, @user.name) %>
<div>
  <table class="table table-bordered table-condensed user-table"> <!--borderedボーダー付き、condensed行間の狭い-->
    <tr> <!--table row(行)-->
      <td>時間管理表</td> <!--table date(データ)-->
      <td>指定勤務時間:<%= format_basic_info(@user.work_time) %></td>
      <td>基本時間:<%= format_basic_info(@user.basic_time) %></td>
      <td>初日</td>
    </tr>
    
    <tr>
      <td>所属: <%= @user.department.present? ? @user.department : "未所属" %></td> <!--存在すればtrueでその値を、存在しなければfalseで未所属となる。-->
      <td>名前:<%= @user.name %></td>
      <td>出勤日数</td>
      <td>締め</td>
    </tr>
  </table>
</div>