@import "bootstrap-sprockets";
@import "bootstrap";

/* universal(一般的な) */

body {
  padding-top: 60px;
}

section {
  overflow: auto; /*構成がオーバーフローする時オートで整える*/
}

textarea {
  resize: vertical; /*テキストエリアのサイズ変更を横方向に調整することができる*/
}

.center {
  text-align: center; /*テキストの横方向の位置をセンターにする*/
}

.center h1 {
  margin-bottom: 10px; /*要素の下側の隙間調整。ここでは勤怠システムとSign upとの間*/
}

/* typography(デザイン構成) */

h1, h2, h3, h4, h5, h6 {
  line-height: 1; /*行間の隙間*/
}

h1 {
  font-size: 3em;
  letter-spacing: -2px; /*文字間の隙間*/
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;  /*文字の太さ*/
  color: #777; /*文字の色灰色*/
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left; /*要素を左寄せにする*/
  margin-right: 10px; /*要素を右側の隙間*/
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase; /*要素のテキストを大文字表記*/
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold; /*bold 太字*/
}

#logo:hover {
  color: #fff; /*ホワイト*/
  text-decoration: none; /*テキスト装飾を指定するプロパティ:noneで装飾を行わない*/
}

/* debug */

.debug_dump {
  clear: both; /*左寄せまたは右寄せされた全ての要素に対する回り込みを解除する*/
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box; //ベンダープレフィックスと言って、昔のブラウザで対応していない CSS の機能を対応させるために使用
  -webkit-box-sizing: border-box; //ベンダープレフィックスと言って、昔のブラウザで対応していない CSS の機能を対応させるために使用
  box-sizing:         border-box;
}

/* error_messages */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors { //検証で確認するとdiv class=field_with_errorsが作成されているので
  @extend .has-error; //入力欄赤枠
  .form-control {
    color: $state-danger-text; //入力文字赤字
  }
}